/*phone*/
@media all and (max-width: 600px) {
 body{
    
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
 }
 .wrapper{
    
     width: 100%;
     padding: 0;
     margin: 0;
   
 }
 
 main{
    width: 100%;
    justify-content: center;
    align-items: center;
 }
 header{
    display: none;
 }
 .container{
   justify-content: center;
   align-items: center;
  
    justify-content: center;
    width: 100%;
    flex-direction: column;
 }
 .left-col,.right-col{
 
   margin-left: 3.5px;
    width: 97%;
    height: 100rem;
   
 }
 .left-upper,.left-bottom,.right-center,.right-bottom{
    
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 270px;
    
    
}
.right-upper{
    flex-direction: column;
}
.right-upper-row{
    width: 97%;
    margin-left: 3.5px;
}
.about-sect{
    gap: 3rem;
}
.name{
   

}
.name h3{
    
    white-space: nowrap;
    font-size: 32px;
}
.name p{
    font-size: 20px;
}
.left-center{
    flex-direction: column;
}
.left-center-row{
    width: 97%;
}
.my-skills{
    width: 97%;
}
.skills-arrow{
    display: none;
}
.brand-sect1{
   
}
.brand-sect2{
    gap: 60px;
}
.contact-info h3{
  white-space: nowrap;
  font-size: 20px;
}
.contact{
    gap: 0px;
}
.contact-info h2{
    white-space: nowrap;
    font-size: 32px;
}
.brand-txt p{
    white-space: nowrap;
}
.brand{
    gap: 5px;
}
.footer{
    width: 100%;
    margin-top: 0px;
}
.footer-nav{
    gap: 0px;
    display: inline;
}
.footer-nav .logo{
    display: none;
}
.footer-links ul{
    align-items: center;
}
.footer-links ul li{
    
    margin: 10px;
}
.social-links{
    width: 280px;
    justify-content: center;
}
.social-links li{
    gap: 2px;
    margin: 12px;
}
.footer-bottom{
    width: 100%;
}
.left-bottom1{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.productivity{
    margin-left: 3.5px;
    width: 95%;
}
.tools{
    margin-left: 30px;
}
#toolicons{
    width: 50px;
    height: 50px;
}
.toolicon{
    margin-left: 25px;
    gap: 10px;
}
.does{
    margin-left: 3.5px;
    gap: 20px;
}
#dorow{
    width: 45%;
}
}

